* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	
	body {
		background: #000;
		font-family: 'Poiret One', sans-serif;
		color: wheat;

		/* start navigation's style */

		header {	 
			min-height: 49px;
			background: url('../../assets/img/bg-header.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			color: black;

			.navbar {
				margin-bottom: 0;
				background:transparent;
				border-bottom: 0;

				.navbar-item {				
					display: inline-block;

					&.navbar-container {
					 	margin-top: 9px;
					}
				}	

					a {
						display: inline-block;
					}

					> a {
						&:hover {
							background: transparent;
						}
						&:focus {
							background: transparent;
						}
					}


				.navbar-left {
				
					.user {
						width: 32px;
						height: 32px;
						margin-right: 11px;
						border: 1px solid  #36311f;
						border-radius: 5px;
						background-image: url('../../assets/img/user-pic.png');
						
					}

					.rank {
						width: 32px;
						height: 32px;
						background-image: url('../../assets/img/small_rank.png');
					}

					
				}
				.navbar-nav {

					.points {
						position: absolute;
					    left: 31%;
					    right: 42%;
					    top: 2px;
    					font-size: 31px;
					}
				}
					

				.navbar-right {
					.vip {
						position: relative;
						width: 80px;
						height: 32px;
				    	max-width: 100%;
						background-image: url('../../assets/img/small_vip.png');

							.text {
								font-size: 23px;
							    position: absolute;
							    top: 1px;
							    left: 10px;
							    color: #000;
							}

							.vip-points {
								font-size: 21px;
							    position: absolute;
							    top: 0;
							    right: 5px;
							    color: #000;
							}
						}

					.home-icon {  
						width: 25px;
    					height: 28px;
						background-image: url('../../assets/img/small_homeIcon.png');

					}
				}
			}
		}

		/* end navigation's style */

		.home-page {

			.home-video {
				position: relative;
			    overflow: hidden;
			    width: 100%;
				height: 65%;
				
			    	.container-plyButton{
			    		position: absolute; 	 	
			    		height: 100%;
					    width: 100%;

					    	.plyButton {
					    		    height: 100%;
   									 width: 100%;

							    .play-button {
						    		display: block;
									min-width: 170px;
								    max-width: 320px;
								    height: 177px;
    								border-radius: 52px;
							    	background: url('../../assets/img/Play_Icon.png') rgba(223,204,146,1)  53% center  no-repeat;
									background: url('../../assets/img/Play_Icon.png') 53% center  no-repeat,  -moz-linear-gradient(top, rgba(223,204,146,1) 0%, rgba(109,101,61,1) 100%);
									background:  url('../../assets/img/Play_Icon.png') 53% center  no-repeat, -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,204,146,1)), color-stop(100%, rgba(109,101,61,1)));
									background:  url('../../assets/img/Play_Icon.png') 53% center  no-repeat, -webkit-linear-gradient(top, rgba(223,204,146,1) 0%, rgba(109,101,61,1) 100%);
									background:  url('../../assets/img/Play_Icon.png') 53% center  no-repeat, -o-linear-gradient(top, rgba(223,204,146,1) 0%, rgba(109,101,61,1) 100%);
									background:  url('../../assets/img/Play_Icon.png') 53% center  no-repeat, -ms-linear-gradient(top, rgba(223,204,146,1) 0%, rgba(109,101,61,1) 100%);
									background:  url('../../assets/img/Play_Icon.png') 53% center  no-repeat, linear-gradient(to bottom, rgba(223,204,146,1) 0%, rgba(109,101,61,1) 100%);
									filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfcc92', endColorstr='#6d653d', GradientType=0 );
							    	z-index: 1;
								    position: absolute;
								    left: 5%;
								    bottom: 14%;
							    }
					    	}
			    		}

			    		#preloader {
							    position: absolute;
							    top: 0;
							    left: 0;
							    width: 100%;
							    height: 100%;
							    background: black;

							    z-index: 100;
						    img{

						        position: absolute;
							    top: 50%;
							    left: 50%;
							    width: 25px;
							    height: 25px;
						    }
			    		}

			    	 	#bgimg {
			    	 		margin-left: -710px;
			    	 		height: 100%;
			    	 	}
			    	}
			    }
			

			.advertisement {
				position: fixed;
    			bottom: 26%;
    			top: auto;
				width: 100%;
				height: 22px;
				color: #363636;
				font-family: Arial;
				font-size: 14px;
				background: #8a8048;
				border-top: 1px solid #f1374c; 
				border-bottom: 1px solid #f1374c; 

				.ticker {
					height: 19px;
					overflow: hidden;
					position: relative;

					.viewport {
						position: absolute;
						white-space: nowrap;

						&.moving {
						  animation: moveSlideshow 45s linear infinite;
						}

						.box {
							position: relative;
						    display: inline-block;
						    height: 100%;
						    margin: 0 15px;
						    text-align: center;

						  	.circle {
								position: absolute;
								top: 5px;
								left: -19px;
						  		background: #363636;
						  		width: 10px;
						  		height: 10px;
						  		border-radius: 5px;
						  	}
						}
					}
				}
					@keyframes moveSlideshow {
					  100% { 
					    transform: translateX(-72.99999999%);  
					  }
					}
			}

		#thumbnails_wrapper{

			#outer_container {
					  
				
				.thumbScroller {

					.home-slider {
						position: fixed;
						bottom: 0;
						height: 27%;
			    		white-space: nowrap;

			    		&::-webkit-scrollbar { 
			    			display: none; 
						}
						
						.content {
							display: inline-block;
						
							.lesson {
								position: relative;
								float: left;
								margin: 10px 30px;
								width: 321px;
								height: 87%;
								border: 1px solid #8a8048;
								border-radius: 6px;

								.icon {
									position: absolute;	
								}
								
								&.passed {
									background: url('../../assets/img/BG-passedLesson.png'); 
									-webkit-background-size: cover;
									-moz-background-size: cover;
									-o-background-size: cover;
									background-size: cover;
									
									.icon {
										top: 14%;
										right: 43px;
									}
								}

								&.current {
									background: url('../../assets/img/BG-currentLesson.png'); 
								  -webkit-background-size: cover;
								  -moz-background-size: cover;
								  -o-background-size: cover;
								  background-size: cover;
									
									.lesson-right-part {
										border: none; 

										.thumb {
											display: none;
										}
									}

									.icon {
										bottom: 14px;
    									left: 45px;
									}
								}

								&.lock {
									.icon {
										top: 21%;
										right: 58px;
									}
								}
						
								a{
									.drop-down {
									    display: none;
										position: absolute;
									    top: -265px;
									    left: -1px;
									    padding: 0 13px;
									    height: 420px;
									    width: 321px;
									    color: #8a8048;
									    font-size: 20px;
									    font-weight: 600;
									    line-height: 20px;
									    background: #000;
									    border: 1px solid #8a8048;
									    border-bottom: 0;
									    border-radius: 10px;
									    opacity: 0.5;
									    white-space: pre-line;

									    p {
									    	margin: 0;
									    }
									}

								    width: 100%;
								    height: 100%;
								    display: block;
								   	opacity: 0.8;
								   
								    &:hover,
								    &:active {
								   		opacity: 1;	

								   		.drop-down {
									    	display: block;
									    }

								    }


								}
								.lesson-number {	
									position: absolute;
									bottom: 0%;
									left: 18px;
									color: #8a8048;
									font-size: 75px;
									margin: 0;
								}

								div {
								    position: absolute;
								    right: 10px;
								    top: 7px;
								    height: 90%;
								    width: 196px;
								    border: 1px solid #8a8048;
								    border-radius: 6px;

									.thumb {
										width: 100%;
										height: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
html{
	body {

		#thumbnails_wrapper{
				#outer_container {

					.thumbScroller {

						.home-slider {
							height: 26%;
			
							.content {
							
								.lesson {
									margin-top: 16px;
									
									&.passed {
										
										
										.icon {
											top: 24%;
											right: 43px;
										}
									}


									&.lock {
										.icon {
											top: 32%;
											right: 58px;
										}
									}												
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	html {
		body {

	/* start navigation's style */

		header {	 
			height: 60px;
				
				.navbar{

					.navbar-item{				

						&.navbar-container{
						 	padding: 0 15px;
						 }

					}

					.navbar-left {
					
						.user {
							width: 42px;
							height: 42px;
							margin-right: 11px;
							border: 1px solid  #36311f;
							border-radius: 5px;
							background-image: url('../../assets/img/user-pic.png');
						
						}

						.rank {
							width: 42px;
							height: 42px;
							background-image: url('../../assets/img/rank.png');
						}

						
					}
					.navbar-nav {

						.points {
							position: absolute;
						    left: 42%;
	    					right: 50%;
						    top: -4px;
						    font-size: 50px; 
						}
					}
						

					.navbar-right {

						.vip {
							margin-right: 100px;
							width: 106px;
    						height: 42px;
							background-image: url('../../assets/img/vip.png');

							.text {
								font-size: 29px;
								top: 0px;
							    left: 13px;
							}

							.vip-points {
								font-size: 26px;
							    position: absolute;
							    top: 2px;
							    right: 8px;
							}
						}

						.home-icon {
							width: 37px;
							height: 42px;
							background-image: url('../../assets/img/homeIcon.png');

						}
					}
				}
			}
			/* end navigation's style */

			/* home page's style */

			.home-page{

				.home-video {
					height: 72%;

					#bgimg {
					    margin-left: -498px;
					    height: 100%;
					}	

					.container-plyButton {
						.plyButton {
						    .play-button {
					    	    height: 230px;
					    	    left: 0;
								bottom: 37%;
						    }
						}
					}
				}
			}
			.advertisement{
				bottom: 20%;
			}

			#thumbnails_wrapper{
				#outer_container {

					.thumbScroller {

						.home-slider {
						height: 20%;
								.content{
								.lesson{
									a{
										.drop-down {
										    top: -145%;
	    									height: 247%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Medium Devices, Desktops */
@media screen and (min-width: 992px) {
	html {
		body {

			header {	 
				.navbar{
					
					.navbar-right {

						.vip {
							margin-right: 135px;
						}
					}
				}
			}
			.home-page{

				.home-video {
			    	.play-button {
			    		// transform: scale(2);
			    		// top: 30%;
			    	}
				}
			}

			.home-page{

				.home-video {
					    height: 68%;
					#bgimg {
					     margin-left: 0;
					    height: 100%;
					    width: 100%;
					}	

					.container-plyButton {
						.plyButton {
						    .play-button {
						    	      height: 215px;
									    left: 0;
									    bottom: 37%;
						    }
						}
					}
				}
			}
			.advertisement{
				bottom: 24%;
			}

			#thumbnails_wrapper{
				#outer_container {

					.thumbScroller {

						.home-slider {
							height: 24%;
			
							.content {
							
								.lesson {
									margin-top: 16px;
									
									&.passed {
										
										
										.icon {
											top: 21%;
											right: 43px;
										}
									}


									&.lock {
										.icon {
											top: 32%;
											right: 58px;
										}
									}												
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	html {
		body {
			header {	 
				.navbar{
					
					.navbar-right {

						.vip {
							margin-right: 185px;
						}
					}
				}
			}
		}
	}


}

    @media only screen and (min-width : 1440px) {
	html {
		body {

			header {	 
				.navbar{
					
					.navbar-right {

						.vip {
							margin-right: 261px;
						}
					}
				}
			}

			.home-page{

				.home-video {
					    height: 69%;
				}
			}
			.advertisement{
			    bottom: 24%;
			}

			#thumbnails_wrapper{
				#outer_container {

					.thumbScroller {

						.home-slider {
							height: 22%;
			
							.content {
							
								.lesson {
									margin-top: 16px;
									
									&.passed {
										
										
										.icon {
											top: 21%;
											right: 43px;
										}
									}

									&.lock {
										.icon {
											top: 32%;
											right: 58px;
										}
									}												
								}
							}
						}
					}
				}
			}
		}
	}
}
