<div ng-controller="HomeController" class="home-page">
	<!-- lesson preview -->
    <div id="bg" class="home-video">
    	<!-- <a href="#" class="col-md-offset-1 col-xs-offset-1"><img src="../assets/img/play-button.png" alt=""></a> -->

<!-- 		<div id="bg"><a href="#" class="nextImageBtn" title="next"></a><a href="#" class="prevImageBtn" title="previous"></a><img src="../assets/img/lesson_pic.png" width="1680" height="1050" alt="Denebola" title="Denebola" id="bgimg" /></div>
		 -->
    	<div class="container-fluid container-button">
	    	<div class="row button">
		    	<a href="#" class="play-button pagination-centered col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-8">
	    	</a>
	    	</div>
    	</div>
    		
    	
    	<img src="../assets/img/Universe_and_planets_digital_art_wallpaper_denebola.jpg" alt="Denebola" title="Denebola"  width="1300" height="700" id="bgimg" />
		
		<div id="preloader"><img src="../assets/img/ajax-loader_dark.gif" width="32" height="32" /></div>

    </div>


	<!-- end lesson preview -->

    <div class="advertisement">
    	<div>
		    <div class="ticker">
		      <div ng-class="{moving: moving}" class="viewport">
		        <div ng-repeat="box in boxes" class="box"><span class="circle"></span><span>{{ box.title }}</span></div>
		      </div>
		    </div>
		</div>
    </div>

    <!-- horizontal-scroll -->

    <div id="thumbnails_wrapper">
		<div id="outer_container">
			<div class="thumbScroller" id="basic">
				<div class="container home-slider">
					<div class="content"  ng-repeat="lesson in lessons"  sly-horizontal-repeat >
						<div class="lesson">
							<p>{{ lesson.number }}</p>
							<a ng-click="changeImage($event)" ng-href="../assets/img/{{ lesson.img_bg }}">
							<div class="lesson-right-part" >
								<img ng-src="../assets/img/{{ lesson.img_thumb }}" title="Lesson" alt="Lesson" class="thumb" />

								<img class="{{lesson.state}}" ng-src="../assets/img/{{ lesson.state }}.png">
							</div>
							</a>
						</div>
					</div>		
				</div> 
			</div>
		</div>
	</div>

</div>
