<div ng-controller="HomeController" class="home-page">
	<!-- lesson preview -->
    <div class="home-video">
    	<!-- <a href="#" class="col-md-offset-1 col-xs-offset-1"><img src="../assets/img/play-button.png" alt=""></a> -->
    	<a href="#" class="play-button col-lg-offset-2 col-md-offset-2 col-xs-offset-4">
    	</a>
    		
    	<img src="" alt="">
    </div>
	<!-- end lesson preview -->

    <div class="advertisement">
    	<div>
		    <div class="ticker">
		      <div ng-class="{moving: moving}" class="viewport">
		        <div ng-repeat="box in boxes" class="box"><span class="circle"></span><span>{{ box.title }}</span></div>
		      </div>
		    </div>
		</div>
    </div>
	
	<div class="home-slider">
		<a href="#" ng-repeat="lesson in lessons">
			<div class="lesson">
				<p>{{ lesson.number }}</p>
				<div class="lesson-right-part" ng-style="{'background':'{{ lesson.leftSideBG }}'}"><img ng-src="../assets/img/{{ lesson.leftSideSymbol }}"></div>
			</div>
		</a>
<!-- 		<a href="#">
			<div class="lesson">
				<p>1</p>
				<div class="lesson-right-part"><img src="../assets/img/check.png"></div>
			</div>
		</a> -->		
	</div>    
</div>
