<div ng-controller="HomeController" class="home-page">
	<!-- lesson preview -->
    <div class="home-video">
    	<!-- <a href="#" class="col-md-offset-1 col-xs-offset-1"><img src="../assets/img/play-button.png" alt=""></a> -->
    	<a href="#" class="play-button col-lg-offset-2 col-md-offset-2 col-xs-offset-2">
    	</a>
    		
    	<img src="" alt="">
    </div>
	<!-- end lesson preview -->

    <div class="advertisement">
    	<ul>
    		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    		<li>Quisque nec tellus eleifend, luctus elit ac, pellentesque est. Vivamus sed nunc elementum, faucibus tortor id, rhoncus arcu. </li>
    		<li>Ut tempus tristique felis vitae pulvinar.
    		</li>
    		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    		<li>Quisque nec tellus eleifend, luctus elit ac, pellentesque est. Vivamus sed nunc elementum, faucibus tortor id, rhoncus arcu. </li>
    		<li>Ut tempus tristique felis vitae pulvinar.
    		</li>
    		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    		<li>Quisque nec tellus eleifend, luctus elit ac, pellentesque est. Vivamus sed nunc elementum, faucibus tortor id, rhoncus arcu. </li>
    		<li>Ut tempus tristique felis vitae pulvinar.
    		</li>
    	</ul>
    </div>
	
	<div class="home-slider">
		<div class="lesson">
			
		</div>
		<div class="lesson">
			
		</div>
		<div class="lesson">
			
		</div>
		<div class="lesson">
			
		</div>
		<div class="lesson">
			
		</div>
		<div class="lesson">
			
		</div>
		<div class="lesson">
			
		</div>
		
	</div>    
</div>
